body {
	background-color: salmon;
}


.headerdiv {
	border-style: solid;
}


#happy {
	display: block;
	height: 90px;
	margin: 0 auto;
	margin-top: -6px
}

#logo {
	
	
	height: 45px;
	padding: 0;
	margin: 0;

}

#happydiv {
	padding-top:6px;

}


/*
#logodiv {
	text-align: center;
}
*/

h1 {
	text-align: middle;
	text-align: center;
	padding: 0;
	font-size: 310%;
	font-family: 'Noticia Text', serif;
	font-weight: bold;
	
}


#inputs {
	
	padding: 20px 20px 0px 20px;
}

input {
	border-style: solid;
}

.inputrow {
	margin-bottom: 0px;
}

#story {
	padding: 20px 54px 20px 54px;
	display: block;
	text-align: middle;

}